# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore cache files
__pycache__/

# Ignore temp file for linter output
_lint.txt

# Ignore all files generated during testing
*/tests/test_files/*

# Ignore coverage file
.coverage

# Ignore documentation build files
doc/_build
doc/auto_examples
doc/auto_tutorials
doc/generated

# Ignore source release files
dist/
bycycle.egg-info/
build/
